{{define "content"}}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-4">
        <p class="h2"><a href="/themes/{{.Theme.ID}}">{{.Theme.Name}}</a></p>
    </div>
    <div class="col-xs-12 col-md-4">
        <a href="{{.Theme.ID}}?is_read=false" class="badge badge-primary">
            未读 <span class="badge badge-light">{{.CountUnread}}</span>
        </a>
        <a href="{{.Theme.ID}}?is_read=true" class="badge badge-secondary">
            已读 <span class="badge badge-light">{{.CountRead}}</span>
        </a>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Read</th>
                    <th scope="col">Like</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $suite := .Suites}}
                <tr>
                    <th scope="row">{{$index}}</th>
                    <td>{{if $suite.IsRead}}已读{{else}}{{end}}</td>
                    <td>{{if $suite.IsLike}}😍{{else}}{{end}}</td>
                    <td><a href="/suites/{{$suite.ID}}">{{$suite.Name}}</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{{end}}
{{define "script"}}{{end}}
